<header>
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand">
      <i tabindex="0" (keyup.space)="menu.toggle()" (click)="menu.toggle()" class="fa fa-bars mr-2"></i>
      FaceFood
    </a>
    <app-menu #menu>
      <ul class="list-unstyled">
        <li>
          <a IsLogged (click)="menu.toggle()" [routerLink]="['create','add']">Upload</a>
        </li>
    </ul>
    </app-menu>

    <div *ngIf="(user$) | async as user; else login">
      <a [routerLink]="['create', 'add']">
        <i class="fa fa-plus-circle fa-2x m-1"></i>
      </a>
      <i class="fa fa-user-circle mr-1"></i>
      <a [routerLink]="['user', user.name]" class="mr-1">{{ user.name }}</a>
      <a (click)="logout()">(Logout)</a>
    </div>

    <ng-template #login>
      <span class="navbar-text">
        <a [routerLink]="['/auth/signin']">Please, login!</a>
      </span>
    </ng-template>

  </nav>

  <div class="fixed-top">
    <app-loading></app-loading>
    <app-alert></app-alert>
  </div>

</header>
